.row-content {
  margin: 0px auto;
  padding: 10px 0px 50px 0px;
  border-bottom: 1px ridge;
}
body {
  padding-top: 70px;
}

table.extimetable_container {
    height: 20px;
    width: 60px;
}

.nav-user-text{
	color: #000000 !important;
}
nav {
	background-color: #e3f2fd;
}