{% load staticfiles %}
{% load notifications_tags %}
{% load profile_tags %}
<html>
	<head>
		<title>Tutoria</title>
			{% isMyuser request.user as myuser %}
		<meta name="viewport" content="width=device-width, iniBal-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		{% if request.user.is_staff %}
		<link rel="stylesheet" href="{% static 'css/main_admin.css' %}">
		{% else %}
		<link rel="stylesheet" href="{% static 'css/main_user.css' %}">
		{% endif %}
	    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
	    <script src="{% static 'js/jquery.min.js' %}"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
	    <script src="{% static 'star_rating/js/star-rating.js' %}" type="text/javascript"></script>
	    <link href="{% static 'star_rating/css/star-rating.css' %}" media="all" rel="stylesheet" type="text/css" />
	    <link rel="stylesheet" href="{% static 'css/comment.css' %}">

	{% register_notify_callbacks callbacks='custom_fill_notification_list,fill_notification_badge'%}
	</head>
	<body>
		<nav class="navbar navbar-light navbar-fixed-top" role="navigation"> 
			<div class="container">
				<div class="navbar-header">
                	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigaton</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand nav-user-text" href="{% url 'main:index' %}">Tutoria</a>
			</div>
	  			<div id="navbar" class="navbar-collapse collapse">
					 <ul class="nav navbar-nav">
						<li class="actve"><a href="{% url 'main:search' %}" class="nav-user-text">Home</a></li>
						<li><a href="{% url 'main:intimetable' %}" class="nav-user-text">Timetable</a></li>
						<li><a href="#" class="nav-user-text">Message</a></li>
					</ul>
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown">
						<a href="#" id="dropdownlist" class="dropdown-toggle" data-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="false">
                     		<span class="glyphicon glyphicon-bell nav-user-text">{% live_notify_badge classes="badge" %}</span></a>
                     		<ul id='live_notify_list' class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     		</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle nav-user-text" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi! {{ request.user.username }}<span class="caret"></span></a>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						  	{% if request.user.is_staff %}
						    <li><a href="{% url 'main:manage_sessions' %}" class=""> Manage Sessions </a></li>
						    {% endif %}
						    {% if myuser%}
						    <li><a href="{% url 'main:profile' %}">Profile</a></li>
						    <li><a href="{% url 'main:bookingHistory' %}">Booking history</a></li>
						    {% endif %}
							<li><a href="{% url 'main:wallet' %}">Wallet</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="/logout">Log out</a></li></ul>
						  </ul></li>
				</div>
			</div>
		</nav>
				

	            {% block content %}
	            {% endblock %}
	</body>
</html>