{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
    	
    </div>
</div>
</div>
<div class="container">
    
</div>
</div>
    <a href="#timetable">Timetable</a>

    <a href="#review">Review</a>
    {% include 'tutorUpperBio.html' %}
    {% block schedule %}
    
  <div class="container">

      {% include 'biotimetable.html' %}
     {% block biotimetable %}
     {% endblock %}

        {% endblock %}
      {% endblock %}
    </div>
