{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
    	
    </div>
</div>
</div>
<div class="container">
    
</div>
</div>

    {% include 'tutorUpperBio.html' %}
    {% block schedule %}


      <table border="2" cellspacing="3" align="center">
        <tr>
            <td>
            {% for date in Dates %}
                <td> {{ date }}
            {% endfor %}
        </tr>
        <tr>
          <td align="center">
          <td align="center">SUNDAY
          <td align="center">MONDAY
          <td align="center">TUESDAY
          <td align="center">WEDNESDAY
          <td align="center">THURSDAY
          <td align="center">FRIDAY
          <td align="center">SATURDAY
        </tr>

          {% for time in Times %}
            <tr>
              <td> {{time}}
            {% for date in Dates %}
                <td align="centre">
                  <!--
                  <form action="/tutor/ConfirmBooking/" method="post">{% csrf_token %}
                    <input id='Sunday' type="submit" value="Select" onclick="generateRow()"/>
                  </form>
                  -->

                  {% for eachsession in ListOfSessions%}

                      {%if eachsession.SessionDate == date and eachsession.StartTime == time%}
                        <p>{{eachsession.Status}}</p>
                      {% endif %}
                  {% endfor %}
            {% endfor %}
            </tr>
          {% endfor %}

      </table>
        {% endblock %}
      {% endblock %}
