
<script type="text/javascript">
var global_buttonid;
var status;

var coursename;

var firstload = 1;

var settimetable = 0;



function pressed(){
  
  
  var i;
  
  var fp = document.getElementsByClassName("freePress");
  for (i = 0; i < fp.length; i++) {
      fp[i].disabled = true;
      fp[i].style.backgroundColor= "#fff8e1";

  }

  var bp = document.getElementsByClassName("BookedPress");
  
  for (i = 0; i < bp.length; i++) {
      bp[i].disabled = true;
      bp[i].style.backgroundColor= "#1c2a48";
      
  }
  var sdp = document.getElementsByClassName("SameDayPress");
  
  for (i = 0; i < sdp.length; i++) {
      sdp[i].disabled = true;
      sdp[i].style.backgroundColor= "#59698d";
      
  }
  var oobp = document.getElementsByClassName("OOBPress");
  
  for (i = 0; i < oobp.length; i++) {
      oobp[i].disabled = true;
      oobp[i].style.backgroundColor= "#000000";
      
  }
  var bop = document.getElementsByClassName("BlackOutPress");
  
  for (i = 0; i < bop.length; i++) {
      oobp[i].disabled = true;
      oobp[i].style.backgroundColor= "#000000";
      
  }
}


</script>
    <a id="timetable"> </a>

    <h1 id="bio">Timetable<h1>




	 
  
	   
     <input class="btn disabled" id="" type="button" value="Free" style="width:200px; background-color:#fff8e1;"/>
     <span style="color:white">
     <input class="btn disabled" id="" type="button" value="Booked" style="width:200px; background-color:#1c2a48;"/>     
     <input class="btn disabled" id="" type="button" value="Same Day" style="width:200px; background-color:#59698d;"/>
     <input class="btn disabled" id="" type="button" value="Black Out / Unavailable" style="width:200px; background-color:#000000;"/> 
   </span>
     
  
                             
     {% include 'timetable.html' %}
     {% block timetable %}
     {% endblock %}

<a id="review"> </a>
     {% include 'comment.html' %}
     {% block comment %}
     {% endblock %}





     
{% block biotimetable %}
{% endblock %}

