{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h2>Booking ID: {{booking.id}}</h2>
            <p>Status: {{booking.status}}
            <p>Timestamp: {{booking.timestamp}}</p>
            <p>Date: {{booking.sessionDate}}</p>
            <p>Start Time: {{booking.startTime}}</p>
            <p>End Time: {{booking.endTime}}</p>
            <br>
        </div>
            
            {% if interfaceType == "Tutor" %}

                {% include 'booking_details_tutorView.html' %}
                {% block bd_tutor %}
                {% endblock %}
            {% else %}
                {% include 'booking_details_studentView.html' %}
                {% block bd_student %}
                {% endblock %}
            {% endif %}


        

	</div>
</div>


    
{% endblock %}