{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h2>Booking ID: {{booking.id}}</h2>
            <p>Status: {{booking.status}}
            <p>Booking Time: {{booking.timestamp}}</p>
            <p>Date: {{booking.session_date}}</p>
            <p>Start Time: {{booking.start_time}}</p>
            <p>End Time: {{booking.end_time}}</p>
            <br>
            <h3>Tutor:</h3>
            <p>TutorID: {{booking.tutor.user.username}}</p>
            <p>StudentID: {{booking.student.user.username}}</p>
            <p>Total Payment:</p>
            <p>{{booking.tutoring_fee}}+{{booking.commission}}={{booking.total_payable}}</p>
    </div>
    	{% if booking.status|lower != "cancelled"  and booking.student == request.user.myuser %}
          <div class="col-xs-12 col-md-4">
  				<h5><a href="{% url 'main:cancel' booking.id %}" class="btn btn-danger" role="button">Cancel</a></h5>
          </div>
         {% endif %}
	</div>
</div>


    
{% endblock %}