{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h2>Booking history</h2>
    </div>
    <div class="row row-content">
        <div class="col-xs-12 col-md-6">
        	<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#student" data-toggle="tab">As a student</a>
				</li>
				<li><a href="#tutor" data-toggle="tab">As a tutor</a></li>
			</ul>
    </div>
</div>
</div>
</div>
<div id="myTabContent" class="tab-content">
	<div id="tutor" class="tab-pane fade in">
        {% if booking_history %}
			    
			    {% for booking in booking_history %}
			    {% if booking.tutor == request.user.myuser %}
			   <div class="container">
			     <div class="row row-content">
        			<div class="col-xs-12 col-md-8">
        				<p>BookingID: {{booking.id}}</p>
        				<p>Status: {{booking.status}}</p>
        				<p>Date: {{booking.session_date}}</p>
			       	 	<p>Start: {{ booking.start_time }}</p>
			       	 	<p>End: {{booking.end_time}}</p>
			       	 	<p>Student: {{booking.student.user.username}}</p>
			       	 	<p>Tutor: {{booking.tutor.user.username}}</p>
			        </div>
			        <div class="col-xs-12 col-md-4">
            			<p><a href="{% url 'main:bookingDetail' booking.id %}" class="btn btn-info" role="button"> View Details</a></p>
        			</div>
			    </div>
			</div>
			{% endif %}
			{% endfor %}
		
			    
			{% else %}
				<div class="container">
				     <div class="row row-content">
	        			<div class="col-xs-12 col-md-8">
			    <p>No records are found.</p>
			</div>
		</div>
	</div>
			{% endif %}
		</div>
		<div id="student" class="tab-pane fade active">
        {% if booking_history %}
			    
			    {% for booking in booking_history %}
			    {% if booking.student == request.user.myuser %}
				   <div class="container">
				     <div class="row row-content">
	        			<div class="col-xs-12 col-md-8">
	        				<p>BookingID: {{booking.id}}</p>
	        				<p>Status: {{booking.status}}</p>
	        				<p>Date: {{booking.session_date}}</p>
				       	 	<p>Start: {{ booking.start_time }}</p>
				       	 	<p>End: {{booking.end_time}}</p>
				       	 	<p>Student: {{booking.student.user.username}}</p>
				       	 	<p>Tutor: {{booking.tutor.user.username}}</p>
				        </div>
				        <div class="col-xs-12 col-md-4">
	            			<p><a href="{% url 'main:bookingDetail' booking.id %}" class="btn btn-info" role="button"> View Details</a></p>
	        			</div>
				    </div>
				</div>
			{% endif %}
			{% endfor %}
		
			    
			{% else %}
				<div class="container">
				     <div class="row row-content">
	        			<div class="col-xs-12 col-md-8">
			    <p>No records are found.</p>
			</div>
		</div>
	</div>
			{% endif %}
		</div>
</div>

{% endblock %}
