{% extends 'base.html' %}
{% block content %}




<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h2>Confirm Booking</h2>

            <p>Tutor ID: {{t.id}}
                <p>Tutor Username: {{tutorUsername}}
            <p>Date: {{b.sessionDate}}</p>
            <p>Start Time: {{b.startTime}}</p>
            <p>End Time: {{b.endTime}}</p>
            {% for eachcourse in TutorCourse %}
        
                <p>{{eachcourse.courseCode}} {{eachcourse.courseCode.courseName}}</p>
        
                {% endfor %}

        </div>
    	
	</div>
    {% if t.hourlyRate %}
        {% include 'payment_confirmbooking.html' %}
        {% block payment %}


        {% endblock %} 
    {% endif %}


    <form  action="." method="POST">{% csrf_token %}
            <input id="confirmBooking" type="submit" value="Confirm Booking" />
            <input type="hidden" id="CouponUsed" name="CouponUsed" value="No"/>
    </form>


</div>

{% endblock %}