{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
var global_buttonid;
var status;

var coursename;

var firstload = 1;

var settimetable = 0;



function reply_click(clicked_id)
{
    global_buttonid = clicked_id;
    //document.getElementById("buttonid").innerHTML=global_buttonid;
    //var html = '<input type="hidden" name="buttonid">';

    //alert(document.getElementById('eachbutton').value);
    document.getElementById('eachbutton').value = global_buttonid;
    //alert(document.getElementById('eachbutton').value);

    document.getElementById('thisWeekButtonForm').submit();
    //document.ButtonForm.buttonid.value = global_buttonid;
}

function pressed(){

  
  var fp = document.getElementsByClassName("freePress");
  

  var i;
  for (i = 0; i < fp.length; i++) {
      fp[i].disabled = false;
      fp[i].style.backgroundColor= "#fff8e1";
      fp[i].value = "Book";
      
      

  }

  var op = document.querySelectorAll('.BookedPress,.SameDayPress,.BlackOutPress,.OOBPress');
  
  for (i = 0; i < op.length; i++) {
      op[i].disabled = true;
      op[i].style.backgroundColor= "#000000";
      
  }
  
}


</script>
    
    


    
    <form  action="/search/{{ TargetTutor.id }}/" method="get">
      <input id="Book" type="submit" value="Detailed Profile" />
    </form>

    <h1 id="bio">Booking Timetable<h1>

    {% include 'tutorUpperExtimetable.html' %}
    {% block shortline %}
    {% endblock %}

	 
  
	   

     

   
     
     {% include 'timetable.html' %}
     {% block timetable %}
     {% endblock %}





     

{% endblock %}

