{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
var global_buttonid;
var status;

var coursename;

var firstload = 1;

var settimetable = 0;
function toggle_visibility(this_id, next_id) {
   var thisweek = document.getElementById(this_id);
   var nextweek = document.getElementById(next_id);
   if(thisweek.style.display == 'block'){
      thisweek.style.display = 'none';
      nextweek.style.display = 'block';
      document.getElementById('nextWeek').value = "Previous Week";
    }

   else{
      thisweek.style.display = 'block';
      nextweek.style.display = 'none';
      document.getElementById('nextWeek').value = "Next Week";
   }
}

function default_visibility(this_id, next_id){
  var thisweek = document.getElementById(this_id);
  var nextweek = document.getElementById(next_id);
  if (firstload == 1){
    firstload = 0;
    thisweek.style.display = 'block';
    nextweek.style.display = 'none';
    document.getElementById('nextWeek').value = "Next Week";

  }

}


function reply_click(clicked_id)
{
    global_buttonid = clicked_id;
    //document.getElementById("buttonid").innerHTML=global_buttonid;
    //var html = '<input type="hidden" name="buttonid">';

    //alert(document.getElementById('eachbutton').value);
    document.getElementById('eachbutton').value = global_buttonid;
    //alert(document.getElementById('eachbutton').value);

    document.getElementById('thisWeekButtonForm').submit();
    //document.ButtonForm.buttonid.value = global_buttonid;
}




</script>


    
    <form  action="/search/{{ TargetTutor.id }}/" method="get">
      <input id="Book" type="submit" value="Detailed Profile" />
    </form>

    <h1 id="bio">Booking Timetable<h1>

    {% include 'tutorUpperExtimetable.html' %}
    {% block shortline %}

	
	
	<!-- Olivia: add form for button -->
  
	   <input id="nextWeek" type="submit" value="" onclick="toggle_visibility('thisWeekButtonForm', 'nextWeekButtonForm')" />


     <input class="btn disabled" id="" type="button" value="Free" style="width:100px; background-color:#fff8e1;"/>
     <input class="btn disabled" id="" type="button" value="Booked" style="width:100px; background-color:#004d40;"/>     
     <input class="btn disabled" id="" type="button" value="Same Day" style="width:100px; background-color:#4B515D;"/> 
     <input class="btn disabled" id="" type="button" value="Black Out" style="width:100px; background-color:#000000;"/>     
     <input class="btn disabled" id="" type="button" value="Unavailable" style="width:100px; background-color:#000000;"/>
                             
   
                              
	   {% include 'thisweek_extimetable.html' %}
     {% block thisweek %}
     {% endblock %}
     {% include 'nextweek_extimetable.html' %}
     {% block nextweek %}
     <script>default_visibility('thisWeekButtonForm', 'nextWeekButtonForm');</script>

     {% endblock %}

     
         {% endblock %}
      {% endblock %}
