{% extends 'base1.html' %}
{% block content %}
<script type="text/javascript">
  function validate(){
      var usernameDiv = document.getElementById("username");
      var emailDiv = document.getElementById("email");
      if (usernameDiv.classList.contains("is-valid")){
        if (emailDiv.classList.contains("is-valid")){
          return true;
        }
      }
      return false;
  }
function validateUsername(){
  var r;
  var username = document.getElementById("username").value;
  var usernameDiv = document.getElementById("username");
  if (username.length == 0 || username.length >150){
      usernameDiv.classList.remove("is-valid");
      usernameDiv.classList.add("is-invalid");
      document.getElementById("userfeedback").innerHTML = "Please provide a valid username";
      return false;
  }
    var reg =  /^([a-z0-9\._\+-@]{0,})$/i;
    var result = reg.test(username);
    //console.log(result);
    if (result == false) {
      usernameDiv.classList.remove("is-valid");
      usernameDiv.classList.add("is-invalid");
      document.getElementById("userfeedback").innerHTML = "Please provide a valid username";
      return false;
    }else {
      usernameDiv.classList.remove("is-invalid");
      usernameDiv.classList.add("is-valid");
    }
  }

  function validateEmail(){
    console.log("here");
  var username = document.getElementById("username").value;
  var usernameDiv = document.getElementById("username");
  var email = document.getElementById("email").value;
  var emailDiv = document.getElementById("email");
  //console.log(email)
  var reg = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
  var result = reg.test(email);
  if (result == false) {
    emailDiv.classList.remove("is-valid");
    emailDiv.classList.add("is-invalid");
    document.getElementById("feedback").innerHTML = "Please provide a valid email";
    return false;
  }
  var r = new XMLHttpRequest();
  r.onreadystatechange = function(){
    if (this.readyState == 4 && this.status == 200) {
      var data = JSON.parse(r.responseText);
      if (data.valid == true) {
          usernameDiv.classList.remove("is-invalid");
          usernameDiv.classList.add("is-valid");
          emailDiv.classList.remove("is-invalid");
          emailDiv.classList.add("is-valid");
        return true;
      }else{
          usernameDiv.classList.remove("is-valid");
          usernameDiv.classList.add("is-invalid");
          emailDiv.classList.remove("is-valid");
          emailDiv.classList.add("is-invalid");
          document.getElementById("userfeedback").innerHTML = "";
          document.getElementById("feedback").innerHTML = "username and email are not matched";
          return false;
      }
    }
  }
  r.open("GET", "/api/checkEmail/?email="+email+"&username="+username, true);
  r.send();
}
</script>
  <div class="wrapper">
    <form action="" class="form-signin" method="post">
    {% csrf_token %}       
      <h2 class="form-signin-heading">Forget password</h2>
      <h5>Retrieve your password</h5>
      <div class="form-group">
      <input type="text" class="form-control is-invalid" id="username" name="username" placeholder="Username" required="" autofocus="" onkeyup="validateUsername()"/>
      <div class="invalid-feedback" id="userfeedback">
        Please provide a valid username.
      </div>
      </div>
      <div class="form-group" >
      <input type="email" class="form-control is-invalid" id="email" name="email" placeholder="Email" required="" onkeyup="validateEmail()" /> 
      <div class="invalid-feedback" id="feedback">
        Please provide a valid email.
      </div>
      </div>     
      <button class="btn btn-md btn-info btn-block" type="submit" value="send" onsubmit="return validate()">Send Email</button>
      <a href = "/login/" class="btn btn-md btn-secondary btn-block" role="button" value="login">Back</a>
    </form>
  </div>
  {% endblock %}