{% extends 'base1.html' %}
{% block content %}
<script type="text/javascript">
  function validatePassword1(){
    var password = document.getElementById("password1Div").value;
    var reg =  /^([a-z0-9\._\+-@]{8,})$/i;
    var result = reg.test(password);
    if (result == false) {
      password1Div.classList.remove("is-valid");
      password1Div.classList.add("is-invalid");
      document.getElementById("password1Feedback").innerHTML = "Please provide a valid password";
      return false;
    }else{
      password1Div.classList.remove("is-invalid");
      password1Div.classList.add("is-valid");
      return true;
    }
}
function validatePassword2(){
    var password1 = document.getElementById("password1Div").value;
    var password2 = document.getElementById("password2Div").value;
    console.log(password1);
    if (password1!=password2) {
      password2Div.classList.remove("is-valid");
      password2Div.classList.add("is-invalid");
      document.getElementById("password2Feedback").innerHTML = "Password doesn't match";
      return false;
    }else{
      password2Div.classList.remove("is-invalid");
      password2Div.classList.add("is-valid");
      return true;
    }
}
</script>

<div class="wrapper">
<form action="" class="form-register" method="post" enctype="multipart/form-data" onsubmit="">
    {% csrf_token %}
    <div class="form-header">
      <h3>Enter new password</h3>
      <h5>Please enter your new password twice so we can verify you typed it in correctly.</h5>
    </div>
<div class="form-group">
      <label>New Password</label>
      <input type="password" class="form-control is-invalid" name="new_password1" id="password1Div" placeholder="Password" required="" onkeyup="validatePassword1()" />
      <div class="invalid-feedback" id="password1Feedback">
        Please provide a valid password.
      </div>
      <small id="passwordHelpBlock" class="form-text text-muted">
      <i>
      	<ul>
	      	<li>Your password can't be too similar to your other personal information.</li>
	      	<li>Your password must contain at least 8 characters.</li>
			<li>Your password can't be a commonly used password.</li>
			<li>Your password can't be entirely numeric.</li>
		</ul>
	</i></small>
</div>
<div class="form-group">
	<label>Confirm Password </label>
	<input type="password" class="form-control is-invalid" name="new_password2" id="password2Div" placeholder="Confirm your Password" required="" onkeyup="validatePassword2()" />
  <div class="invalid-feedback" id="password2Feedback">
  Password doesn't match.
</div>
</div>
<button class="btn btn-md btn-info btn-block" type="submit" value="change" onsubmit="">Change password</button>
</form>
</div>
{% endblock %}