
<script type="text/javascript">
    
var VList;
//var VList = JSON.parse({{ json_ValidCouponList|safe }});

function is_CouponValid(com, totalP)
{
    
   
    //window.alert "IsCouponValid";

    
    var InputCouponCode = document.getElementById('InCoupon').value;
    r = new XMLHttpRequest();
    r.onreadystatechange = function(){
    if (this.readyState == 4 && this.status == 200) {
        var data = JSON.parse(r.responseText);
        console.log(data);
        if (data.exists == true) {
          document.getElementById("couponFeedback").innerHTML = "Coupon is valid!";
          document.getElementById('CouponUsed').value = "Yes";
          document.getElementById('InCoupon').style.backgroundColor = "green";
          document.getElementById("couponDiscount").innerHTML = "Discount: -$" + com;
          document.getElementById("couponDiscount").style.color = "green";
            var newTotal;
            newTotal = totalP - com;
          document.getElementById("totalPayable").value = "Total: $" + newTotal;
        return true;
        }else{
            console.log("coupon is not valid");
            document.getElementById("couponFeedback").innerHTML = "Coupon is not valid!";

            document.getElementById('CouponUsed').value = "No";

            document.getElementById('InCoupon').style.backgroundColor = "red";

          document.getElementById("couponDiscount").innerHTML = "";
          document.getElementById("totalPayable").value = "Total: $" + totalP;
            return false;
        }
    
    }}

    r.open("GET", "/api/checkCouponCode/?InCoupon="+InputCouponCode, true);
    r.send();




        //if coupon is not valid    
    //document.getElementById('CouponUsed').value = "No";

    //if coupon is valid
    //document.getElementById('CouponUsed').value = "Yes";


}

</script>
<script>
     
    window.onpageshow = function() {
      getJSON({{json_ValidCouponList}});//<--quote removed!
    };

</script>

<div class="row">
    <table frame="box">
        <tr><td><h2>Checkout</h2></td></tr>
        <tr><td><p>Tutoring Fee: ${{b.tutoringFee}}</p></td></tr>
        <tr><td><p>Commission: ${{b.commission}}</p></td></tr>
        <tr><td><div class="" id="couponDiscount">
        </div></td></tr>
        <tr><td><input type="text" readonly="true" name="totalPayable" id="totalPayable" value="Total: ${{b.totalPayable}}" /></td></tr>
        


        <tr>
            <td>
                <form id="couponForm" name="couponForm">
                    Coupon Code: 
                        <input type="text" name="InCoupon" id="InCoupon" value=""/>
                        <input class="btn active" type="button" name="couponSubmit" value = "Validate" onclick="is_CouponValid({{b.commission}}, {{b.totalPayable}})"/>
                        
                        <div class="" id="couponFeedback">
                        </div>
                </form>
            </td>
        </tr>
    </table>
        

</div>
{% block payment %}
{% endblock %}

