{% extends 'registerForm.html' %}
{% block lowerHalf %}
<script type="text/javascript">
  function toggleHourlyRate(){
    var private = document.getElementById("private").checked;
    var contract = document.getElementById("contract").checked;
    console.log(private);
    console.log(contract);
    if (contract==true){
      console.log("haha");
      document.getElementById("hourly").value = 0;
      document.getElementById("hourly").setAttribute("readonly","");
    }
    if (private==true){
      console.log("haha");
      document.getElementById("hourly").value = "";
      document.getElementById("hourly").removeAttribute("readonly","");
    }
  }

  function validateHourlyRate(){
    var hourlyRate = document.getElementById("hourly").value;
    var hourlyRateDiv = document.getElementById("hourly");
    if (hourlyRate%10 == 0){

      hourlyRateDiv.classList.remove("is-invalid");
      hourlyRateDiv.classList.add("is-valid");
      return true;
      //valid
    }
    else{
      //invalid

      hourlyRateDiv.classList.add("is-invalid");
      hourlyRateDiv.classList.remove("is-valid");
      return false;
    }


  }
</script>       
      <label>School:</label>
      <div class="form-group">
      <input type="text" class="form-control is-invalid" name="school" id="school" placeholder="Your School" required="" autofocus="" onkeyup="validateSchool()" />
      <div class="invalid-feedback" id="schoolFeedback">
              Please provide your university name.
       </div>
  	  </div>
      <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="5" id="description" name="description"></textarea>
      </div>
      <div class="form-row">
        <div class="col-md-6 radio">
        <label> <input type="radio" id="private" name="type" onclick="toggleHourlyRate()" value="private">  Private Tutor  </label>
      </div>
        <div class="col-md-6 radio">
        <label> <input type="radio" id="contract" name="type" onclick="toggleHourlyRate()" value="contract">  Contracted Tutor  </label>
      </div>
      </div>
      <div class="form-group">
        <label for="hourly">Hourly rate:</label>
        <input type="text" name="hourly_rate" class="form-control" id="hourly" autofocus="" onkeyup="validateHourlyRate()">
        <div class="invalid-feedback" id="hourlyRateFeedback">
              Please provide a hourly rate.
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
        
          <i>
            <ul>
              <li>Your hourly rate must be a multiple of 10.</li>
              
            </ul>
          </i>
        </small>
      </div>
      <button class="btn btn-md btn-info btn-block" type="submit" value="register_student">Register</button>
      <a href = "{% url 'main:register' %}" class="btn btn-md btn-secondary btn-block" role="button" value="back">Back</a>
      <i style="text-align:right; color:#A9A9A9">Step 2 of 2</i>
{% endblock %}