{% extends 'base1.html' %}
{% block content %}
  <div class="wrapper">
      <form action="" class="form-register" method="post" enctype="multipart/form-data" >
        {% csrf_token %}  
        <h2 class="form-signin-heading">Welcome to Tutoria</h2>
        <h5>Please select your preference</h5></br>
        <button class="btn btn-md btn-info btn-block" type="submit" name='reg_student' value="register_student">Register as a student</button>
        <button class="btn btn-md btn-info btn-block" type="submit" name='reg_tutor' value="register_tutor">Register as a tutor</button>
        <button class="btn btn-md btn-info btn-block" type="submit" name='reg_both' value="register_both">Register as both</button>
        <a href = "/login/" class="btn btn-md btn-secondary btn-block" role="button" value="back">Back</a>
        <i style="text-align:right; color:#A9A9A9">Step 1 of 2</i>
    </form>
    </div>
{% endblock %}