{% extends 'base1.html' %}
{% block content %}
  <div class="wrapper">
    <form action="" class="form-register" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="header">     
      <h2 class="form-signin-heading">Welcome to Tutoria</h2>
      <h5>User Register Form</h5>
    </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" required="" autofocus="">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name" required="" autofocus="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="tel">Tel</label>
            <input type="tel" class="form-control" name="tel" id="tel" placeholder="Tel" required="" autofocus="" />
          </div>
          <div class="form-group col-md-8">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
          </div>
        </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
        <small id="passwordHelpBlock" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only</small>
      </div>
      <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password1" placeholder="Password" required=""/>
            <small id="passwordHelpBlock" class="form-text text-muted">
            <i>
            	<ul>
      	      	<li>Your password can't be too similar to your other personal information.</li>
      	      	<li>Your password must contain at least 8 characters.</li>
      			<li>Your password can't be a commonly used password.</li>
      			<li>Your password can't be entirely numeric.</li>
      		</ul>
      	</i></small>
      </div>
      <div class="form-group">
    		<label>Password Confirmation </label>
    		<input type="password" class="form-control" name="password2" placeholder="Confirm your Password" required=""/>
      </div>
      <div class="form-group">
        <label for="img">Upload your profile picture</label>
        <input type="file" name="image" id="img">
      </div>
      {% block lowerHalf %}
      {% endblock %}
      </form>
  </div>
{% endblock %}