{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="page-header">
        <h2>Write a review for the tutorial session</h2>
    </div>

    <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="star_rating">Rate your tutorial session:</label>
                <input id="star_rating" name="star_rating" class="rating" data-stars="5" data-step="0.5" title="" data-size="sm"/>
            </div>
            <div class="form-group">
              <label for="description">Comment:</label>
              <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
          </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
    <hr>

</div>
{% endblock %}