
<div class="container">

    <h1 id="bio"> Introduction/Biography <h1>
     <table class="table table-hover">
      <div class="media-left">
          <img class="media-object pull-left" style="width:90px;    padding-right: 10px;" src="/{{TargetTutor.user.profilePicture.url}}"/>
      </div>
    
    {% for name, value in TargetTutor.tutor_upper_get_fields %}
      {% if value %}
        
        <tr>
          <th>{{ name }}: </th>
          <th>{{ value }}</th>
        </tr>
      {%endif%}
    {% endfor %}
    <tr>
      <th>Course: </th>
      <th>
        {% for eachcourse in TutorCourse %}
        
          <p>{{eachcourse.courseCode}} {{eachcourse.courseCode.courseName}}</p>
        
        {% endfor %}
      </th>
    </tr>
     </table>
      <form  action="/tutor/{{ TargetTutor.id }}/extimetable/" method="get">
      <input id="Book" class="btn btn-block btn-info btn-default center-block" type="submit" value="Book" />
    </form>
</div>

    
     



  {% block schedule %}
  {% endblock %}

