{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
function last_validate(){
  var wallet = document.getElementById("wallet");
  if (wallet.classList.contains("is-valid")){
  	return true;
  }else{
  	return false;
  }
}
function validate(){
  var wallet = document.getElementById("wallet");
  var type = wallet.value;
  var amount = document.getElementById("amount").value;
  var amountDiv = document.getElementById("amountDiv");
  console.log(type)
  console.log(amount)
	var r = new XMLHttpRequest();
  r.onreadystatechange = function(){
    if (this.readyState == 4 && this.status == 200) {
      var data = JSON.parse(r.responseText);
      console.log(data.exists)
      if (data.exists == false) {
        //document.getElementById("admin_wallet_feedback").innerHTML = "Balance is not enough";
          amountDiv.classList.remove("has-success");
          amountDiv.classList.add("has-error");
          wallet.classList.remove("is-valid");
          wallet.classList.add("is-invalid");
        return false;
      }else{
      	  amountDiv.classList.add("has-success");
          amountDiv.classList.remove("has-error");
          wallet.classList.remove("is-invalid");
          wallet.classList.add("is-valid");
          return true;
      }
    }
  }
  if (type=="admin"){
  	console.log("123")
  	  r.open("GET", "/api/checkEnough_admin?amount="+amount  , true);
  }else{
  	  r.open("GET", "/api/checkEnough?amount="+amount  , true);
  }
  r.send();
  }
</script>
<div class="container">
	<div class="row row-content">
    <div class="row">
        <div class="col-xs-12 col-md-9">

		    {% if request.user.is_staff %}
		    <h2>MyTutor's Wallet</h2>
		    {% else %}
			<h2>{{ request.user.username }}'s Wallet</h2>
			{% endif %}
			{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
			{% endif %}
			{% if request.user.is_staff %}
			<h3>MyTutor's Balance: {{request.user.wallet.balance}}</h3>
			{% else %}
			<h3>Your Balance: {{request.user.wallet.balance}}</h3>
			{% endif %}
		</div>
	</div>
	<div class="row">
	<div class="col-xs-6 col-md-3">
			<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="input-group">
      		<input type="number" class="form-control" placeholder="amount" value=100 name="amount">
      		<span class="input-group-btn">
		{% if not request.user.is_staff %}
        	<button class="btn btn-info" type="submit" name="addValue" value="user">Add Value</button>
		{% else %}
        	<button class="btn btn-info" type="submit" name="addValue_admin" value="admin">Add Value</button>
		{% endif %}
		    </span>
     		 </div>
     		 </form>
     		</div>
     			<div class="col-xs-6 col-md-3">
     			<form action="" method="post" enctype="multipart/form-data" onsubmit="return last_validate()">
			{% csrf_token %}
			<div class="input-group" id=amountDiv>
      		<input type="number" id="amount" class="form-control" placeholder="amount" value=100 name="amount" onkeyup="validate()">
      		<span class="input-group-btn">
		{% if not request.user.is_staff %}
		      <button class="btn btn-info is-invalid" id="wallet" type="submit" name="withDrawValue" value="user">Withdraw Value</button>
		{% else %}
		      <button class="btn btn-info is-invalid" id="wallet" type="submit" name="withDrawValue_admin" value="admin">Withdraw Value</button>
		{% endif %}
			</span>
     		 </div></form>
     		</div>
     </div>
	</div>
</div>
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-md-8">
        <h2>Transaction history</h2>
        {% if transaction_history %}
			    
			    {% for record in transaction_history %}
			     <div class="row row-content">
        			<div class="col-xs-12 col-md-8">
        				{% if record.action == "Tutorial Payment" %}
        				<p>Payer: {{record.senderID.username}}</p>
        				<p>Receiver: {{record.receiverID.username}}</p>
        				{% else %}
        				<p>Actor: {{record.senderID.username}}</p>
        				{% endif %}
			       	 	<p>Amount: ${{ record.transactionAmount }}</p>
			       	 	{% if record.bookingID %}			       	 	
			       	 	<p>Booking ID: {{ record.bookingID.id }}</p>
			       	 	{% endif %}
			       	 	{% if record.action == "Tutorial Payment" and request.user == record.senderID %}
			       	 	<p>Type: Outgoing payment</p>
			       	 	{% elif record.action == "Tutorial Payment" and request.user == record.receiverID %}
			       	 	<p>Type: Incoming payment</p>
			       	 	{% else %}
			       	 	<p>Type: {{record.action}}</p>
			       	 	{% endif %}
			       	 	{% if record.action == "Tutorial Payment" %}
			       	 	<p>Status: {{record.status}}</p>
			       	 	{% endif %}
			       	 	<p>At: {{record.timestamp}}</p>
			        </div>
			    </div>
			    {% endfor %}
			    
			{% else %}
			    <p>No records are found.</p>
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}