{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-md-8">

		    {% if request.user.is_staff %}
		    <h2>MyTutor's Wallet</h2>
		    {% else %}
			<h2>{{ request.user.username }}'s Wallet</h2>
			{% endif %}
			{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
			{% endif %}
			{% if request.user.is_staff %}
			<h3>MyTutor's Balance: {{request.user.staff.admin.wallet.balance}}</h3>
			{% else %}
			<h3>Your Balance: {{request.user.wallet.balance}}</h3>
			{% endif %}
		</div>
	<div class="col-xs-12 col-md-4">
		{% if request.user.is_staff %}
		<h2><a href="addValue" class="btn btn-info" role="button">Add Value</a></h2>
		{% else %}
		<h2><a href="addValue" class="btn btn-info" role="button">Add Value</a></h2>
		{% endif %}
	</div>
	</div>
</div>
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-md-8">
        <h2>Transaction history</h2>
        {% if transaction_history %}
			    
			    {% for record in transaction_history %}
			     <div class="row row-content">
        			<div class="col-xs-12 col-md-8">
        				<p>Payer: {{record.senderID.username}}</p>
        				<p>Receiver: {{record.receiverID.username}}</p>
			       	 	<p>Amount: ${{ record.transactionAmount }}</p>			       	 	
			       	 	<p>Booking ID: {{ record.bookingID.id }}</p>
			       	 	<p>{{record.action}}</p>
			       	 	<p>Status: {{record.status}}</p>
			       	 	<p>At: {{record.timestamp}}</p>
			        </div>
			    </div>
			    {% endfor %}
			    
			{% else %}
			    <p>No records are found.</p>
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}
